.container {
    width: calc((200px + 2px) * 7);
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 5px;
}

.card-img img {
    object-fit: contain;

}